# proect specific ignores
zscaler.crt
repo.txt
source.txt
src.txt
scripts.txt
cmd.txt
test.txt

target/
dev_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
